@import './base.css';

#app {
    font-weight: normal;
}

h1 {
    font-size: 1.7rem;
    line-height: 1.7rem;
    margin-bottom: .5rem;
}

h2 {
    font-size: 1.3rem;
    margin: 2rem 0 0.5rem 0;
}


@media (min-width: 1024px) {
    body {

    }

}
